<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <div class="admin-general-container">
    <div class="admin-top-buttons">
        <a href="/admin/productlist"><button class="admin-top-btn admin-button">Pics</button></a>
        <a href="/admin"><button class="admin-top-btn admin-button">Crear</button></a>
        <!-- <a href=""><button class="admin-top-btn admin-button">Editar</button></a> -->
    </div>
    <div class="admin-container">
        <section class="admin-buttons">
            <div class="admin-button" id="btn-newpic">
                <i class="far fa-image"></i>
                <p>New Pic</p>
            </div>
            <div class="admin-button" id="btn-color">
                <i class="far fa-square"></i>
                <p>Color</p>
            </div>
            <div class="admin-button" id="btn-sizes">
                <i class="fas fa-ruler-horizontal"></i>
                <p>Medidas</p>
            </div>
            <div class="admin-button" id="btn-categories">
                <i class="far fa-lightbulb"></i>
                <p>Categorías</p>
            </div>
        </section>
        <section class="admin-forms">
            <!-- Formulario New Pic -->
            <form action="admin/new" class="new-form" id="admin-form-new" method="POST" enctype="multipart/form-data"
            >
                <div class="input-container">
                    <label for="name">Nombre del producto</label>
                    <input type="text" class="admin-form-input" name="name">
                </div>
                <div>
                    <label for="category">Elegí una categoría</label>
                    <select name="category" id="">
                        <% categories.forEach( (categoria) => { %>  
                        <option value="<%= categoria.id %>">
                            <%= categoria.name  %> 
                        </option>
                        <% }) %>
                    </select>
                </div>
                <div class="input-container">
                    <label for="description">Describí el producto</label>
                    <textarea name="description" class="admin-form-input" id="" cols="25" rows="5"></textarea>
                </div>
                <div class="input-container">
                    <label for="image">Subí una imagen</label>
                    <input type="file" class="admin-form-input" name="image">
                </div>
                <button type="submit" class="form-btn-submit">Crear nuevo</button>
            </form>
            <!-- Formulario Color -->
            <div class="forms-lists" id="admin-form-color">
                <div class="form-cont-dblist">
                    <h3>Colores disponibles</h3>
                    <div class="form-dblist">
                        <ul>  
                            <% colors.forEach( (color) => { %>
                               <li class="form-list-color" id="<%= color.id %>"><%= color.color %></li>
                            <% }) %>
                        </ul>
                    </div>
                    <span class="admin-select-text">Seleccioná un color para editar o eliminar</span>
                </div>
                <form action="admin/color" method="POST" id="admin-color-form-create">
                    <div class="input-container">
                        <label for="color">Ingresá un nuevo color</label>
                        <input type="text" class="admin-form-input" name="color">
                    </div>
                    <button type="submit" class="form-btn-submit">Crear nuevo</button>
                </form>
                <form action="" id="admin-form-color-update" method="POST">
                    <div class="input-container">
                        <label for="color">Editá el color</label>
                        <input type="text" class="admin-form-input" name="color" id="color-form-input-update" value="">
                    </div>
                    <div>
                        <button type="submit" class="form-btn-submit">Editar</button>
                        <button type="reset" class="form-btn-submit">Reset</button>
                    </div>
                </form>
                <form action="" id="form-destroy-color" method="POST">
                    <button type="submit" class="form-btn-submit">Eliminar</button>
                </form>
            </div>
            <!-- Formulario medidas -->
            <div class="forms-lists" id="admin-form-sizes">
                <div class="form-cont-dblist">
                    <h3>Medidas disponibles</h3>
                    <div class="form-dblist">
                        <ul>  
                            <% sizes.forEach( (size) => { %>
                                <li class="form-list-size" id="<%= size.id %>"><span id="list-size"><%= size.size %></span> - $<span id="list-size-price"><%= size.price %></span></li>
                            <% }) %>
                        </ul>
                    </div>
                    <span class="admin-select-text">Seleccioná una medida para editar o eliminar</span>
                </div>
                <form action="admin/size" method="POST" id="admin-size-form-create">
                    <div class="input-container">
                        <label for="size">Ingresá una nueva medida</label>
                        <input type="text" class="admin-form-input" name="size">
                    </div>
                    <div class="input-container">
                        <label for="price">Ingresá un precio para esta medida</label>
                        <input type="text" class="admin-form-input" name="price">
                    </div>
                    <button type="submit" class="form-btn-submit">Crear nuevo</button>
                </form>
                <form action="" id="admin-size-form-update" method="POST">
                    <div class="input-container">
                        <label for="color">Editá la medida</label>
                        <input type="text" class="admin-form-input" name="size" id="size-input-size" value="">
                    </div>
                    <div class="input-container">
                        <label for="price">Editá el precio para esta medida</label>
                        <input type="text" class="admin-form-input"  name="price" id="input-price"
                        value="">
                    </div>
                    <div>
                        <button type="submit" class="form-btn-submit">Editar</button>
                        <button type="reset" class="form-btn-submit">Reset</button>
                    </div>
                </form>
                <form action="" id="form-destroy-size" method="POST">
                    <button type="submit" class="form-btn-submit">Eliminar</button>
                </form>
            </div>
            <!-- Formulario Categorías -->
            <div class="forms-lists" id="admin-form-categories">
                <div class="form-cont-dblist">
                    <h3>Categorías disponibles</h3>
                    <div class="form-dblist">
                        <ul>  
                            <% categories.forEach( (category) => { %>
                               <li class="form-list-categories" id="<%= category.id %>"><%= category.name %></li>
                            <% }) %>
                        </ul>
                    </div>
                    <span class="admin-select-text">Seleccioná una categoría para editar o eliminar</span>
                </div>
                <form id="admin-category-form-create" action="admin/category" method="POST">
                    <div class="input-container">
                        <label for="color">Ingresá una nueva categoría</label>
                        <input type="text" class="admin-form-input" name="name">
                    </div>
                    <button type="submit" class="form-btn-submit">Crear nueva</button>
                </form>
                <form action="" id="admin-category-form-update" method="POST">
                    <div class="input-container">
                        <label for="color">Editá el color</label>
                        <input type="text" class="admin-form-input" name="color" id="category-form-input-update" value="">
                    </div>
                    <div>
                        <button type="submit" class="form-btn-submit">Editar</button>
                        <button type="reset" class="form-btn-submit">Reset</button>
                    </div>
                </form>
                <form action="" id="form-destroy-category" method="POST">
                    <button type="submit" class="form-btn-submit">Eliminar</button>
                </form>
            </div>
        </section>
    </div>
    </div>
    <p style="text-align: center; color: red;">errores</p>

    <%- include('./partials/footer') %>
    <script src="/JS/adminModal.js"></script>
</body>

</html>