<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Categoria </title>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/header') %>
    <br>
    <br>
    <div class="contenedor">
        <div class='categoria'>
            <h2 class="category-title"></h2>
        </div>
        <% product.forEach(product => { %>
        <div class="todo">
            <div class="prod">
				<section class="product">
                    <a class="link" href="/products/<%= product.id %>">
                        <div class='desvanecer'>
                        <div class='img-container'>
						<figure class="image">
							<img src="/Images/products/<%= product.images %>" alt="imagen de <%= product.name %>">
                        </figure>
                        </div>  
						<article class="product-box">
                            <h2 class="nombre"><%= product.name %> </h2>
							<p class="precio"> $590 - $2990 </p>
                        </article>
                        </div>
                    </a>
                    <input type="hidden" name="categoryId" id="categoryId" value="<%= product.categoryId %> ">
				</section>
			</div> 
        </div>
        <% }); %>
    </div>
    <br>
    <br>
    <br>
    <%- include('./partials/footer') %>
</body>
</html>