<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpic</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/header') %>
    <div class="slider">
        <ul>
            <li><img src="Images/Fondos/fondo2.jpg"> </li>
            <li><img src="Images/Fondos/fondo1.jpg"></li>
            <li><img src="Images/Fondos/fondo3.jpg"></li>
        </ul>
    </div>
    <img class="animacion1" src="/Images/frases/Mr.jpg">
    <img class="animacion2" src="/Images/frases/Mrs.jpg">
    <p id="animacion3"> Bienvenido al</p>
    <p id="animacion4"> Mundo Deco</p>
    <img class="animacion5" src="/Images/animales/Buho.jpg">
    <img class="animacion9" src="/Images/animales/portaretrato-girafa.jpg">
    <img class="animacion10" src="/Images/animales/elefante-en-fondo-negro.jpg">
    <img class="animacion11" src="/Images/arte/organico1.jpg">
    <img class="animacion12" src="/Images/arte/organico2.jpg">

    <div class="most-sale-container">
        <div class="most-sale-title">
            <h2>Los Mas Vendidos</h2>
            <a href="/mostSale">ver todos</a>
        </div>
        <div class="carrousel-container">
            <div class="botonatras">&#60</div>
        <% mostsale.forEach(function(product){%>
          
                <div class="section-container">
                    <section class="most-sale-section">
                        <img src="/images/masvendidos/<%=product.image%>" alt="imagen del producto">
                        <article class="infomasvendidos">
                            <h3><%=product.name%></h3>
                            <h2>$<%=product.price[1]%></h2>
                    </article>
            </section>
                </div>
         
        <%})%>
        <div class="botonadelante">&#62</div>
        </div>  
    </div>
    <div class="container-categorias">
        <h2> Categorias</h2>
        <section>
        
        </section>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('./partials/footer') %>
</body>
</html>