<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <div>
        <%- include('./partials/header') %>
        <br>
        <br>
        <br>
        <section class="product-info">
                <article class='imagenes'>
                    <div class='img-extra'>
                        <figure>
                            <a href="#">
                        <img src="/Images/products/<%=product.images %> " alt=""> 
                            </a>
                        </figure>
                        <figure>
                            <a href="#">
                            <img src="/Images/products/<%=product.images %> " alt=""> 
                            </a>
                        </figure>
                        <figure>
                            <a href="#">
                            <img src="/Images/products/<%=product.images %> " alt=""> 
                            </a>
                        </figure>
                    </div>
                    <div class='img-principal'>
                        <figure>
                            <img src="/Images/products/<%=product.images %> " alt="">
                        </figure>
                    </div>
                <div class="contenedor-flex">
                    <div class='seleccion'>
                        <div class='product-txt'>
                            <p><%= product.name %> </p>
                            <h2 class="main-price">$590.00</h2> 
                            <p>Medios de pago</p>
                        </div>
                        <div class='tarjetas'>
                            <i class="fab fa-cc-visa"></i>
                            <i class="fab fa-cc-mastercard"></i>
                            <i class="fab fa-cc-amex"></i>  
                        </div>
                    </div> 
                    <form action="/user/addToCart" method="POST" class="product-form">
                    <div class='dropdowns'>
                        <ul>
                            <li class="color-li">
                                <a href="#">Marco</a>
                                <div class='sub-menu-1'>
                                <% colors.forEach(color => { %>
                                        <label for="<%= color.id %>"><a href=""> <%= color.color %></a></label>
                                        <input type="radio" id="<%= color.color %>" value="<%= color.color %>" name="checkColor">   
                                <% }); %> 
                            </div>
                            </li>
                            <li class="size-li">
                                <a href="#">Tamaño</a>
                                <div class='sub-menu-2'>
                                <% sizes.forEach(size => { %>
                                        <label for="<%= size.id %>"><%= size.size %></label> 
                                        <input class="size-input" id="<%= size.price %>" type="radio" name="checkSize" value="<%= size.size %>">
                                <% }); %>
                                <input class="checkPrice" type="hidden" name="checkPrice" value="">
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label for="quantity">Cantidad</label>
                        <input type="number" id="quantity" class="quantity" name="checkQuantity" value="1">
                        <input type="hidden" name="checkName" value="<%= product.name %>">
                        <input type="hidden" name="checkImage" value="<%= product.images %>">
                        <button type="submit" class='add-to-cart-main'>Agregar al carrito</button>
                    </div>
                </div>
                </article>
            </form>
        </section>
        <div class='descripcion-contenedor'>
        <section class='descripcion'>
            <h2 class='descripcion-header'>Sobre este producto</h2>
            <article class='about'> <%= product.description %> </article>
            <h2 class='descripcion-footer'> <br> </h2>
        </section>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <section class='related'>
            <h2 class='descripcion-header'>Productos relacionados</h2>
            <div class='contenedor-related'>
                <section class="prod-related">
                    <figure class='img-related-1'>
                        <img src="<%= product.image %> " alt="">
                    </figure>
                    <figure class='img-related-2'>
                        <img src="<%= product.image %>" alt="">
                    </figure>
                </section>
                <section class='txt-related'>
                    <article class='txt-related-1'>
                        <p><%= product.name %> </p>
                        <h2>$ <%= product.price %> </h2>
                        <button class='add-to-cart'>Agregar al carrito</button>
                    </article>
                    <article class='txt-related-2'>
                        <p><%= product.name %> </p>
                        <h2>$ <%= product.price %> </h2>
                        <button class='add-to-cart'>Agregar al carrito</button>
                    </article>
                </section>
            </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
        </section>



        <script src="/JS/producto.js"></script>

        <%- include('./partials/footer') %>  
    </div>
</body>
</html>