<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/header') %>
    <br>
    <div>
        <h2 class="bienvenida-perfil">Bienvenide <%= user.name %></h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="datos-perfil">
        <ul>
            <li class="nombre-perfil"><i class="fas fa-user-circle"></i><%= user.name %></li>
            <li> <a href="/user/compras"><i class="fas fa-shopping-basket"></i>Mis Compras</a></li>
            <li> <a href="/user/favoritos"><i class="fas fa-star"></i>Mis Favoritos</a></li>
            <li> <a href="/user/datos"><i class="fas fa-id-badge"></i>Mis Datos</a></li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%- include('./partials/footer') %>
</body>
</html>